@import "bourbon";
@import "susy";
@import _map.scss


// shorthand
$desktop: 12 (90px 30px) split
$pad: 6 (80px 40px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))






