{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="indside_banner">
	<h2>ABOUT US</h2>
</div>
	



<div class="clear"></div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>







{% endblock %}