{# index.twig #}
{% extends "/_template/backend_layout.twig" %}
{% block page %}



<div class="backend_wrapper">

	<h2>Product menu</h2>
	<div class="index_num">
		
		
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入主項目">
				<div class="add"><i class="fas fa-plus-circle fa-2x"></i></div>	
			</div>
			
			<div class="upload_content">
				<input type="text" class="index_2" placeholder="請輸入連結">
				<div class="add"><i class="fas fa-plus-circle fa-2x"></i></div>	
			</div>

			<div class="menulist">
				<div class="list_row">
					<h4>USB CHARGER</h4>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>

				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
			</div>

		</div>

		<br>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入主項目">
				<div class="add"><i class="fas fa-plus-circle fa-2x"></i></div>	
			</div>
			<div class="upload_content">
				<input type="text" class="index_2" placeholder="請輸入連結">
				<div class="add"><i class="fas fa-plus-circle fa-2x"></i></div>	
			</div>
			
			<div class="menulist">
				<div class="list_row">
					<h4>USB CHARGER</h4>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>

				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
				<div class="list_row">
					<h5>19W~65W Desk Top AC/DC Power Adapter (1)</h5>
					<div class="delete"><i class="far fa-times-circle"></i></div>
				</div>
			</div>
			
		</div>



		
		
		
	</div>







	<h2>Product list</h2>
	<div class="index_num">
		

		<h6>1</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入規格"></textarea>
			</div>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
	</div>

	<div class="index_num">

		<h6>2</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入規格"></textarea>
			</div>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
	</div>






	

	


</div>



{% endblock %}x