{# index.twig #}
{% extends "/_template/backend_layout.twig" %}
{% block page %}



<div class="backend_wrapper">

	<h2>Product detail</h2>

	<div class="index_num">
		
		<h6>1</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入規格"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_pdf">PDF 上傳</div>
			<p>product_01.PDF</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入小標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="5" placeholder="請輸入feature"></textarea>
			</div>
		</div>
	</div>

	<div class="OK_comfirm">確認上傳</div>		



</div>



{% endblock %}x