{# index.twig #}
{% extends "/_template/backend_layout.twig" %}
{% block page %}



<div class="backend_wrapper">
	
	<div class="index_num">
		<h6>1</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="10" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="checkbox"> 新品
			</div>
		</div>
	</div>

	<div class="index_num">
		<h6>2</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="10" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="checkbox"> 新品
			</div>
		</div>
	</div>

	<div class="index_num">
		<h6>3</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="10" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="checkbox"> 新品
			</div>
		</div>
	</div>

	<div class="index_num">
		<h6>4</h6>
		<div class="backend_row">
			<div class="upload_img">圖片上傳</div>
			<p>product_01.jpg</p>
		</div>

		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入標題">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<textarea name="" id="" cols="30" rows="10" placeholder="請輸入內容"></textarea>
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="text" class="index_1" placeholder="請輸入連結">
			</div>
		</div>
		<div class="backend_row">
			<div class="upload_content">
				<input type="checkbox"> 新品
			</div>
		</div>
	</div>


</div>



{% endblock %}x