{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="indside_banner contact_us_br">
	<h2>CONTACT US</h2>
</div>
	



<div class="main_content">

	<div class="contact_form">
		<div class="form_left">
		<h6>Contact Supplier</h6>
		<div class="i-form">
			<h4>To </h4><input type="text" placeholder="Mr.Roy Huang, GREATRON ENTERPRISE CO., LTD.">
		</div>

		<div class="i-form">
			<h4>CC </h4><input type="text">
		</div>
		<div class="i-form">
			<h4>*Email </h4><input type="text">
		</div>

		<div class="i-form">
			<h4>*Subject </h4><input type="text">
		</div>

		<div class="i-form">
			<h4>*Message </h4><textarea name="" id="" ></textarea>
		</div>


		<div class="i-form">
			<h4> </h4>
			<div class="attachment_section">
				<div class="attachment">
					<div class="attachment_btn">Attachment</div>
				</div>
				<p>Upload file formats : htm、html、doc、docx、pdf、txt、jpg、gif、png</p>
			</div>

		</div>

		<div class="i-form">
			<h4> </h4>
			<div class="attachment_section">
			
				<h5>Estimated Purchase Amount USD</h5>
				<input type="text">
			</div>

		</div>

		
		<div class="sumit">Submit</div>
		</div>




		<div class="form_map">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.3462665109705!2d121.3306905155298!3d25.056250343551856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a0be38080bcd%3A0x6cde490f6a1a8d6e!2zMzMz5qGD5ZyS5biC6b6c5bGx5Y2A5aSn5Z2R6Lev5LqM5q61NTUw6Jmf!5e0!3m2!1szh-TW!2stw!4v1527148592271" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>



	</div>

	
	
	
		
</div>







<div class="clear"></div>









{% endblock %}