{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="indside_banner contact_us_br">
	<h2>CONTACT US</h2>
</div>
	



<div class="main_content">

	<div class="contact_form">

		<h6>Contact Supplier</h6>
		<div class="i-form">
			<h4>To </h4><input type="text" placeholder="Mr.Roy Huang, GREATRON ENTERPRISE CO., LTD.">
		</div>

		<div class="i-form">
			<h4>CC </h4><input type="text">
		</div>
		<div class="i-form">
			<h4>*Email </h4><input type="text">
		</div>

		<div class="i-form">
			<h4>*Subject </h4><input type="text">
		</div>

		<div class="i-form">
			<h4>*Message </h4><textarea name="" id="" ></textarea>
		</div>


		<div class="i-form">
			<h4> </h4>
			<div class="attachment_section">
				<div class="attachment">
					<div class="attachment_btn">Attachment</div>
				</div>
				<p>Upload file formats : htm、html、doc、docx、pdf、txt、jpg、gif、png</p>
			</div>

		</div>

		<div class="i-form">
			<h4> </h4>
			<div class="attachment_section">
			
				<h5>Estimated Purchase Amount USD</h5>
				<input type="text">
			</div>

		</div>

		
		<div class="sumit">Submit</div>

	</div>


	
	
		
</div>







<div class="clear"></div>









{% endblock %}