{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="indside_banner">
	<h2>ASPIRE TO CAPTURE <br>
	THE ESSENCE OF THE MOMEN</h2>
</div>
	




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


	

	






{% endblock %}x